.forecastlist {
  margin-top: 20px;
  list-style-type: none;
  padding: 30px;
  margin-left: 12.5%;
  width: 75%;
  background-color: bisque;
  }
  .forecast {
    cursor: pointer;
    background-color: rgb(255, 254, 254);
    margin: 20px;
    height: 100px;
    border-radius: 10px;
}
  