body{
    font-family: Garamond, sans-serif;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo_title{
    font-size: 24px;
    font-weight: bold;
    color: #660000;
}

img{
    float: left;
    width: 50px;
    height: 50px;
}

div{
    margin:auto;
    width: 70%;
    padding: 20px;
}

caption {
    padding: 10px;
    font-size:24px;
    font-weight: bold;
    color:white;
}

table {
    padding: 10px 30px 30px 30px;
    margin: auto;
    border-collapse: separate;
    background-color: #ff9933;
    border-radius: 5px;
}

th:first-child {
    border-top-left-radius: 5px;
}
th:last-child {
    border-top-right-radius: 5px;
}
tr:last-child td:first-child {
    border-bottom-left-radius:5px;
}
tr:last-child td:last-child {
    border-bottom-right-radius:5px;
}

th, td {
    padding: 10px;
    text-align: left;
}

td {
    color:#505050;
    font-size: 18px;
}

th {
    background-color: #800000;
    border-bottom: 1px;
    font-size: 20px;
    color: white;
    text-align: left;
}

.king td{
    color: #cc6600;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: whitesmoke;

}
tr:nth-child(odd){
    background-color: #ffe0b3;
}

.link {
    padding: 10px;
}

a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}
a:hover{
    color: #ffe0b3;
}