<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome in Reddit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/costum.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #b30000;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../static/images/redditlogo.png" th:src="@{/images/redditlogo.png}" alt = "Reddit icon" style="height:50px; width:auto;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <span class="navbar-brand">Reddit</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/login'">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/register'">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-bottom:50px;">
    <div class="row mt-5 d-flex justify-content-center">
        <p class="h1 text-center">Welcome to Reddit!</p>
    </div>
    <div class="row mt-1 justify-content-center">
        <p class="h4 text-center text-secondary">Come for the cats, stay for the empathy.</p>
    </div>
    <div class="row mt-3 justify-content-center">
        <a href="/register" class="btn btn-secondary px-3" style="background-color: #b30000;" role="button">Become a Redditor</a>
    </div>
    <div class="row">
        <table class="table">
            <caption>Most popular posts</caption>
            <tr th:each="post : ${posts}">
                <td></td>
            </tr>
        </table>

    </div>
</div>
<footer class="page-footer fixed-bottom" style="background-color: #b30000; color: white;">
    <div class="container">
        <div class="footer-copyright text-center ">
            <span class="align-middle"><small >© 2019 Copyright: Viola Pfening</small></span>
        </div>
    </div>
</footer>
</body>
</html>