<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Todo</title>
</head>
<body>
    <h1>Add new todo:</h1>
    <form action="#" method="post">
        <label for="name">Name</label>
        <input id="name" name="title" type="text" placeholder="Todo" autofocus required/>
        <div>
            <label for="dueDate">Deadline</label>
            <input id="dueDate" type="date" name="dueDate" placeholder="Deadline" required/>
        </div>
        <div>
            <label for="urgent">Urgent</label>
            <input name="urgent" id="urgent" type="checkbox"/>
        </div>
        <div>
            <label for="assignee">Assigne to:</label>
            <select id="assignee" name="assignee">
                <option th:text="'-- NONE --'" th:value="null"></option>
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
    <a href="/todo/">Back</a>
</body>
</html>