<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Assignee List</title>
</head>
<body>
<div>
    <a href="/todo">List of Todos</a>
</div>
<div>
    <h3>Add new assignee:</h3>
    <form action="/assignee/add" method="post">
        <div>
            <input name="name" type="text" placeholder="Name" required/>
        </div>
        <div>
            <input name="email" type="email" placeholder="E-Mail" required/>
        </div>
        <div>
            <input type="submit" value="Add"/>
        </div>
    </form>
</div>
<h1>Assignees:</h1>
<div th:if="${assignees.isEmpty()}">
    <p>There is no assignee yet!</p>
</div>
<div th:unless="${assignees.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assignees}">
            <td th:text="${assignee.id}"></td>
            <td><a th:text="${assignee.name}" th:href="'/assignee/' + ${assignee.id} + '/details'"></a></td>
            <td th:text="${assignee.email}"></td>
            <td>
                <form th:action="'/assignee/' + ${assignee.id} + '/delete'" method="post">
                    <button type="submit">delete</button>
                </form>
            </td>
            <td>
                <a th:href="'/assignee/' + ${assignee.id} + '/edit'">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>