<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Assignee</title>
</head>
<body>
<h1>Edit assignee</h1>
<div th:if="${noAssignee}">
    <p th:text="${noAssignee}"></p>
    <a href="/assignee/">Back</a>
</div>
<div th:unless="${noAssignee}">
    <form th:action="'/assignee/' + ${assignee.id} + '/edit'" method="post">
        <div>
            <label for="name">Name</label>
            <input id="name" th:field="${assignee.name}" name="name" type="text" autofocus required/>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input type="text" id="email" th:field="${assignee.email}" name="email"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
            <a href="/assignee/">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>