<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Todo</title>
</head>
<body>
    <h1>Edit todo</h1>
    <div th:if="${noTodo}">
        <p th:text="${noTodo}"></p>
        <a th:href="'/todo/'">Back</a>
    </div>
    <div th:unless="${noTodo}">
    <form th:action="'/todo/' + ${todo.id} + '/edit'" method="post">
        <div>
            <label for="title">Todo description:</label>
            <input id="title" th:field="${todo.title}" name="title" type="text" autofocus required/>
        </div>
        <div>
            <label for="dueDate">Deadline:</label>
            <input name="dueDate" id="dueDate" type="datetime-local" th:field="${todo.dueDate}" required/>
        </div>
        <div>
            <label for="urgent">Urgent</label>
            <input type="checkbox" id="urgent" th:field="${todo.urgent}" name="urgent"/>
        </div>
        <div>
            <label for="done">Done</label>
            <input type="checkbox" id="done" th:field="${todo.done}" name="done"/>
            <input type="hidden" id="createdAt" th:field="${todo.createdAt}" name="createdAt"/>
        </div>
            <label for="assignee2">Assigne to:</label>
            <select id="assignee2" th:field="${todo.assignee}">
                <option value="">-- NONE --</option>
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
            </select>
        <div>
            <input type="submit" value="Submit"/>
            <a href="/todo/">Cancel</a>
        </div>
    </form>
    </div>
</body>
</html>