<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todo Details</title>
</head>
<body>
    <div th:if="${noTodo}">
        <p th:text="${noTodo}"></p>
        <a href="/todo/">Back</a>
    </div>
    <div th:unless="${noTodo}">
    <h1>Details:</h1>
        <table>
            <tr>
                <td>ID:</td>
                <td th:text="${todo.id}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td th:text="${todo.title}"></td>
            </tr>
            <tr>
                <td>Assignee:</td>
                <td th:if="${todo.assignee == null}" th:text="'This todo does not have any assignee yet.'"></td>
                <td th:unless="${todo.assignee == null}"><a th:text="${todo.assignee.name}" th:href="'/assignee/' + ${todo.assignee.id} + '/details'"></a></td>
            </tr>
            <tr>
                <td>Completed:</td>
                <td th:text="${todo.done}"></td>
            </tr>
            <tr>
                <td>Urgent:</td>
                <td th:text="${todo.urgent}"></td>
            </tr>
            <tr>
                <td>Date of creation:</td>
                <td th:text="${#temporals.format(todo.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            <tr th:if="${todo.completedAt != null}">
                <td>Date of completion:</td>
                <td th:text="${#temporals.format(todo.completedAt, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
    </table>
        <a href="/todo/">Back</a>
    </div>
</body>
</html>