<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action History</title>
</head>
<body>
    <div class="navigation-bar">
        <ul>
            <li><a th:href="'/?name=' + ${fox.name}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a></li>
            <li><a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a></li>
            <li><a th:href="'/actionHistory?name=' + ${fox.name}">Action History</a></li>
        </ul>
    </div>
    <div class="user-img">
        <img th:src="${fox.filename}" alt = "User image" height="200px" width="200px"/>
    </div>
    <div class="list">
        <h2>Action history:</h2>
        <p th:if="${fox.findAllActionHistory().isEmpty()}">
            <span>There was no action yet.</span>
        </p>
        <ul th:unless="${fox.findAllActionHistory().isEmpty()}">
            <li th:each="action : ${fox.findAllActionHistory()}" th:text="${action.actionTime} + ' : ' + ${action.actionDescription}"></li>
        </ul>
    </div>
</body>
</html>