<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../static/img/codingfox.png" th:src="@{/img/codingfox.png}" alt = "User image" style="height:50px; width:auto;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <span class="navbar-brand">Programmer Fox Club</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="'/?name=' + ${fox.name}">Information
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/actionHistory?name=' + ${fox.name}">Action History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 m-auto">
            <h1 class="text-center">Choose a new image for your fox:</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12"></div>
        <form class="m-auto" action="/image" method="post">
            <div class="form-group row">
                <input type="hidden" name="name" th:value="${fox.name}"/>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" aria-pressed="false">
                    <div class="col-sm-4 form-check">
                        <label for="greenfox" class="btn btn-light form-check-label">
                            <input style="position: absolute;left:-9999px;" class="form-check-input" type="radio" name="filename" id="greenfox" value="/img/greenfox.png" autocomplete="off" checked />
                            <img src="../static/img/greenfox3.png" th:src="@{/img/greenfox3.png}" alt="Green Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>

                        </label>
                    </div>

                    <div class="col-sm-4 form-check">
                        <label for="redfox" class="btn btn-light form-check-label">
                            <img src="../static/img/redfox.png" th:src="@{/img/redfox.png}" alt="Red Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>
                            <input class="form-check-input" type="radio" name="filename" id="redfox" value="/img/redfox.png" style="position: absolute;left:-9999px;" autocomplete="off"/>                            </label>
                    </div>

                    <div class="col-sm-4 form-check">
                        <label for="yellowfox" class="btn btn-light form-check-label">
                            <img src="../static/img/yellowfox.png" th:src="@{/img/yellowfox.png}" alt="Yellow Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>
                            <input class="form-check-input" type="radio" name="filename" id="yellowfox" value="/img/yellowfox.png" style="position: absolute;left:-9999px;" autocomplete="off"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" aria-pressed="false">
                    <div class="col-sm-4 form-check">
                        <label for="arcticfox" class="btn btn-light form-check-label">
                            <img src="../static/img/arcticfox.png" th:src="@{/img/arcticfox.png}" alt="Arctic Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>
                            <input class="form-check-input" type="radio" name="filename" id="arcticfox" value="/img/arcticfox.png" style="position: absolute;left:-9999px;" autocomplete="off"/>
                        </label>
                    </div>

                    <div class="col-sm-4 form-check">
                        <label for="indianfox" class="btn btn-light form-check-label">
                            <img src="../static/img/indianfox.png" th:src="@{/img/indianfox.png}" alt="Indian Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>
                            <input class="form-check-input" type="radio" name="filename" id="indianfox" value="/img/indianfox.png" style="position: absolute;left:-9999px;" autocomplete="off"/>
                        </label>
                    </div>

                    <div class="col-sm-4 form-check">
                        <label for="bluefox" class="btn btn-light form-check-label">
                            <img src="../static/img/bluefox.png" th:src="@{/img/bluefox.png}" alt="Blue Fox" style="height:170px; width:auto; display:inline-block; cursor:pointer; padding:3px;"/>
                            <input class="form-check-input" type="radio" name="filename" id="bluefox" value="/img/bluefox.png" style="position: absolute;left:-9999px;" autocomplete="off"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row col-sm-12">
                <div class="m-auto">
                    <input type="submit" value="CHANGE" class="btn btn-secondary w-100"/>
                </div>
            </div>
        </form>
    </div>
</div>
<footer class="page-footer bg-dark text-white fixed-bottom">
    <div class="container">
        <div class="footer-copyright text-center ">
            <span class="align-middle"><small >© 2018 Copyright: Viola Pfening</small></span>
        </div>
    </div>
</footer>
</body>
</html>