<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Fox</title>
</head>
<body>
<div class="container">
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can create your pet!</p>
    <form action="/create" method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required autofocus/>
        <div>
            <h2>Choose the image of your fox:</h2>
        </div>
        <div>
            <input type="radio" name="filename" id="greenfox" value="/img/greenfox.png" class="input-hidden"/>
            <label for="greenfox">
                <img src="../static/img/greenfox.png" th:src="@{/img/greenfox.png}" alt="Green Fox"/>
            </label>

            <input type="radio" name="filename" id="redfox" value="/img/redfox.png" class="input-hidden"/>
            <label for="redfox">
                <img src="../static/img/redfox.png" th:src="@{/img/redfox.png}" alt="Red Fox" height="200px" width="200px"/>
            </label>

            <input type="radio" name="filename" id="yellowfox" value="/img/yellowfox.png" class="input-hidden"/>
            <label for="yellowfox">
                <img src="../static/img/yellowfox.png" th:src="@{/img/yellowfox.png}" alt="Yellow Fox" height="200px" width="200px"/>
            </label>
        </div>
        <div>
            <input type="radio" name="filename" id="arcticfox" value="/img/arcticfox.png" class="input-hidden"/>
            <label for="arcticfox">
                <img src="../static/img/arcticfox.png" th:src="@{/img/arcticfox.png}" alt="Arctic Fox" height="200px" width="200px"/>
            </label>

            <input type="radio" name="filename" id="indianfox" value="/img/indianfox.png" class="input-hidden"/>
            <label for="indianfox">
                <img src="../static/img/indianfox.png" th:src="@{/img/indianfox.png}" alt="Indian Fox" height="200px" width="200px"/>
            </label>

            <input type="radio" name="filename" id="bluefox" value="/img/bluefox.png" class="input-hidden"/>
            <label for="bluefox">
                <img src="../static/img/bluefox.png" th:src="@{/img/bluefox.png}" alt="Blue Fox" height="200px" width="200px"/>
            </label>

        </div>
        <div>
            <input type="submit" value="CREATE"/>
        </div>
    </form>
    <div th:if="${alreadyExistingUser}">
        <span th:text="${alreadyExistingUser}"></span>
    </div>
    <a href="/">Back to Welcome Page</a>
</div>
</body>
</html>