<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
    <div class="navigation-bar">
        <ul>
            <li><a th:href="'/?name=' + ${fox.name}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a></li>
            <li><a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a></li>
            <li><a th:href="'/actionHistory?name=' + ${fox.name}">Action History</a></li>
        </ul>
    </div>

    <div class="user-img">
        <img src="../static/img/greenfox.png" th:src="@{/img/greenfox.png}" alt = "User image"/>
    </div>
    <div class="user-info">
        <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. He knows ' + ${fox.findAllKnownTricks().size()} + ' tricks.'"></p>
    </div>
    <div class="list">
        <h2>Known tricks:</h2>
        <p th:if="${fox.findAllKnownTricks().isEmpty()}">
            <span>You know no tricks.</span>
            <a th:href="'/trickCenter?name=' + ${fox.name}">Go and learn some.</a>
        </p>
        <ul th:unless="${fox.findAllKnownTricks().isEmpty()}">
            <li th:each="trick : ${fox.findAllKnownTricks()}" th:text="${trick}"></li>
        </ul>
    </div>
    <div class="list" th:unless="${fox.findAllActionHistory().isEmpty()}">
        <h2>Action history:</h2>
        <ul>
            <li th:each="action : ${fox.findAllActionHistory()}" th:text="${action.actionTime} + ' : ' + ${action.actionDescription}"></li>
        </ul>
    </div>
</body>
</html>