<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Programmer Fox Club</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Programmer Fox Club!</h1>
        <p>Please provide a name, so you can associate it to your pet!</p>
        <form action="/login" method="post">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required autofocus/>
            <input type="submit" value="GO"/>
        </form>
        <div th:if="${noUser}">
            <span th:text="${noUser}"></span>
            <a href="/create">Add it as a new one!</a>
        </div>
    </div>
</body>
</html>