<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
    <div class="navigation-bar">
        <ul>
            <li><a th:href="'/?name=' + ${fox.name}">Information</a></li>
            <li><a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a></li>
            <li><a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a></li>
            <li><a th:href="'/actionHistory?name=' + ${fox.name}">Action History</a></li>
        </ul>
    </div>
    <div class="user-img">
        <img th:src="${fox.filename}" alt = "User image" height="200px" width="200px"/>
    </div>
    <div class="form">
        <h2>Choose food and drink from the menu to your fox:</h2>
        <form action="/nutritionStore" method="post">
            <input type="hidden" name="name" th:value="${fox.name}"/>
            <label for="food">Food</label>
            <select id="food" name="food">
                <option th:each="food : ${possibleFood}" th:value="${food}" th:selected="${fox.food.equals(food)}" th:text="${food}" ></option>
            </select>
            <label for="drink">Drink</label>
            <select id="drink" name="drink">
                <option th:each="drink : ${possibleDrink}" th:value="${drink}" th:selected="${fox.drink.equals(drink)}" th:text="${drink}"></option>
            </select>
            <input type="submit" value="Change"/>
        </form>
    </div>
    <div class="form">
        <h2>Or give your special choice:</h2>
        <form action="/nutritionStore" method="post">
            <input type="hidden" name="name" th:value="${fox.name}"/>
            <label for="food2">Food</label>
            <input type="text" id="food2" name="food" required/>
            <label for="drink2">Drink</label>
            <input type="text" id="drink2" name="drink" required/>
            <input type="submit" value="CHANGE"/>
        </form>
    </div>
</body>
</html>