<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trick Center</title>
</head>
<body>
<div class="navigation-bar">
    <ul>
        <li><a th:href="'/?name=' + ${fox.name}">Information</a></li>
        <li><a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a></li>
        <li><a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a></li>
        <li><a th:href="'/actionHistory?name=' + ${fox.name}">Action History</a></li>
    </ul>
</div>
<div class="user-img">
    <img th:src="${fox.filename}" alt = "User image" height="200px" width="200px"/>
</div>
<div class="form">
    <div th:if="${tricksToLearn.isEmpty()}" th:text="'Yuhuuu! You have learn all of the tricks!'"></div>
    <div th:unless="${tricksToLearn.isEmpty()}">
        <form action="/trickCenter" method="post">
            <input type="hidden" name="name" th:value="${fox.name}"/>
            <label for="trick">Tricks</label>
            <select id="trick" name="trick">
                <option th:each="trick : ${tricksToLearn}" th:value="${trick}" th:text="${trick}"></option>
            </select>
            <input type="submit" value="Learn"/>
        </form>
    </div>
</div>
</body>
</html>