<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome in Programmer Fox Club</title>
</head>
<body>
    <h1>Welcome in Programmer Fox Club!</h1>
    <div>
        <p>This is a game, where you can take care your own fox.</p>
    </div>
    <div>
        <span>Do you already have a fox?</span><a href="/login">Let's take care him!></a>
    </div>
    <div>
        <span>Here you can create your own fox.</span><a href="/create">Let's play!</a>
    </div>
</body>
</html>