<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students of Greenfox Academy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>Greenfox Academy
        <small class="text-muted" th:text="'Number of students: ' + ${studentsnumber}"></small>
    </h1>
    <h3>Students:</h3>
    <div th:each="student : ${students}">
        <p th:text="${student}" style="color:dodgerblue"></p>
    </div>
    <a href="/gfa">Back to the menu</a>
</div>
</body>
</html>