<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greenfox Academy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>Greenfox Academy</h1>
    <h3>The available links:</h3>
    <div class="links">
        <span>To list all students</span>
        <a href="/gfa/list">Click here</a>
    </div>
    <div class="links">
        <span>To add a new student</span>
        <a href="/gfa/add">Click here</a>
    </div>
</div>
</body>
</html>