<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Links Of Utilities</title>
</head>
<body>
    <h1>Links of the available utilities</h1>
    <div class="links">
        <a href="/useful/colored">Random Colored Background</a>
    </div>
    <div class="links">
        <a href="/useful/email">Email Validator: give your email in the link (ex. /useful/email?email=is@this.valid)</a>
    </div>
    <div class="links">
        <a href="/useful/encoder">Cesear encoder: give the text to encode and a number in the link as quary parameter</a>
    </div>
    <div class="links">
        <a href="/useful/decoder">Cesear decoder: give the text to decode and a number in the link as quary parameter</a>
    </div>

</body>
</html>