<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Todo</title>
</head>
<body>
    <h1>Add new todo:</h1>
    <form action="#" method="post">
        <input name="title" type="text" placeholder="Todo" autofocus required/>
        <div>
            <label for="urgent">Urgent</label>
            <input name="urgent" id="urgent" type="checkbox"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</body>
</html>