<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts with all datas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/tablestyle.css}"/>
</head>
<body>
<div class="logo">
    <img id="logo_img" src="../static/img/logo.jpg" th:src="@{img/logo.jpg}" alt = "Bank logo"/>
    <p class="logo_title">Bank Of Simba</p>
</div>

<div class="table">
    <table>
        <caption>Accounts of the Bank Of Simba</caption>
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance (Zebra)</th>
            <th>Type of Animal</th>
            <th>Is the King?</th>
            <th>Bad or Good</th>
        </tr>
        </thead>
        <tbody th:each="account : ${accountList}">
        <tr th:style="${account.king} ? 'color:red; font-weight:bold'" th:class="${account.king} ? 'king'">
            <td th:text="${accountStat.index} + 1"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${#numbers.formatDecimal(account.balance, 1, 2, 'POINT')}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="${account.king} ? 'YES' : 'NO'"></td>
            <td th:text="${account.goodCharacter} ? 'Good One' : 'Bad Guy'"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="'/balanceraising'">Raise the Balance</a>
</div>
</body>
</html>