<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts Showing Bad and Good Guys</title>
    <meta charset="utf-8" />
</head>
<body>

<div>
    <table>
        <caption>Accounts of the Bank Of Simba</caption>
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance (Zebra)</th>
            <th>Type of Animal</th>
            <th>Is the King?</th>
            <th>Bad or Good</th>
        </tr>
        </thead>
        <tbody th:each="account : ${accountList}">
        <tr th:style="${account.king} ? 'color:gold; font-weight:bold'">
            <td th:text="${accountStat.index} + 1"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${#numbers.formatDecimal(account.balance, 1, 2, 'POINT')}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="${account.king} ? 'YES' : 'NO'"></td>
            <td th:switch="${account.goodCharacter}">
                <span th:case="true">Good One</span>
                <span th:case="false">Bad Guy</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>