<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accounts</title>
        <meta charset="utf-8" />
    </head>
    <body>

        <div>
            <table>
                <caption>Accounts of the Bank Of Simba</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Balance (Zebra)</th>
                        <th>Type of Animal</th>
                    </tr>
                </thead>
                <tbody th:each="account : ${accountList}">
                    <tr>
                        <td th:text="${accountStat.index} + 1"></td>
                        <td th:text="${account.name}"></td>
                        <td th:text="${#numbers.formatDecimal(account.balance, 1, 2, 'POINT')}"></td>
                        <td th:text="${account.animalType}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>