<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Raise the Balance</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}"/>
</head>
<body>
<div class="box"></div>
    <div class="logo">
        <img id="logo_img" src="../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt = "Bank logo"/>
        <p class="logo_title">Bank Of Simba</p>
    </div>
    <div class="form">
        <h2>Raise the Balance:</h2>
        <form th:action="@{balanceraising}" method="post">
            <div class="select-options">
                <label for="animal-name">Whose balance would you like to raise?</label>
                <select id="animal-name" name="animal-name">
                    <option th:each="account : ${accountList}" th:value="${account.name}" th:text="${account.name}"></option>
                </select>
            </div>
            <div class="button">
                <input class="button-content" type="submit" value="Raise" />
            </div>
            <div class="link">
                <a href="/createaccount">Or create a new account</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>