<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Raise the Balance</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}"/>
</head>
<body>
<h2>Raise the Balance:</h2>
<form th:action="@{balanceraising}" method="post">
    <div class="select-options">
        <label for="animal-name">Whose balance would you like to raise?</label>
        <select id="animal-name" name="animal-name">
            <option th:each="account : ${accountList}" th:value="${account.name}" th:text="${account.name}"></option>
        </select>
    </div>
    <div class="button">
        <input type="submit" value="Raise" />
    </div>
    <a href="/createaccount"><h2>Or create a new account</h2></a>
</form>
</body>
</html>