<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new account</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/createformstyle.css}"/>
</head>

<body>
<div class="box">
<div class="logo">
    <img id="logo_img" src="../static/img/logo.jpg" th:src="@{/img/logo.jpg}" alt = "Bank logo"/>
    <p class="logo_title">Bank Of Simba</p>
</div>
    <div class="form">
    <h2>Create a new account:</h2>
        <form th:action="@{createaccount}" method="post">
            <div class="create-account">
                <div class="form-content">
                    <input type="text" name="name" placeholder="Name" required/>
                </div>
                <div class="form-content">
                    <input type="number" name="balance" placeholder="Balance" required/>
                </div>
                <div class="form-content">
                    <input type="text" name="type" placeholder="Type" required/>
                </div>
                <div class="form-content">
                    <label for="king">He/she is the King?</label>
                    <select id="king" name="king">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="form-content">
                    <label for="bad-or-good">He/she is bad or good one?</label>
                    <select id="bad-or-good" name="goodone">
                        <option value="true">Good one</option>
                        <option value="false">Bad guy</option>
                    </select>
                </div>
            </div>
            <div class="button">
                <input class="button-content" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>
</body>
</html>